

<div class="navbar-header">
  <%= link_to "PairBnB", root_path %>
  <%= link_to "Sign In", new_session_path %>
  <%= link_to 'Sign In with Facebook', '/auth/facebook' %>
  <%= link_to "Sign Up", sign_up_form_path %>
</div>
