<header>

  <div class="header-unit">
    <div id="video-container">
      <video autoplay loop class="fillWidth">
        <%= render partial: "shared/partials/home/videos_randomizer" %>
      Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
    </div><!-- end video-container -->
    <div class="hero-header-text">
      <h1>Welcome to PairBnB</h1>
      <h3>Never travel alone</h3>
    </div>

  </div><!-- end .header-unit -->
  <section>

  </section>


</header>

<div>

</div>
