<header>
  <div class="navbar-buffer">

  </div>
  <% if current_user && user_logged_in? %>
    <h1>Hi <%= current_user.first_name.capitalize %>, Welcome to PairBnB</h1>
  <% else %>
    <h1>PairBnB</h1>
    <p>
      No more to travel alone.
    </p>
  <% end %>
</header>

<div>

</div>
