/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "color-palette";

body{
  font-family: 'Arvo', serif;
  .form-control[readonly]{
    background-color: rgb(244, 255, 251);
  }
}

#btn-no-border-radius{
  border-radius: none;
}
// add top padding to div after nav bar
.navbar-buffer{
  margin-top: 60px;
}
// add border to element
.add-border{
  border: 1px solid $main-color;
  border-radius: 5px;
}
// delete border to element in small screen
@media (max-width: 767px) {
  .add-border{
    border: none;
  }
}
// nav bar
.navbar-input-group {

  input:not(:first-child):not(:last-child){
    border-radius: 0px;
    border-left: none;
  }
  button:not(:first-child):not(:last-child){
    border-radius: 0px;
    border-left: none;
  }
  #nav-bar-search-submit{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  @media (min-width: 768px) {
    font-size: 0px; /*removes whitespace between button and input*/

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .btn {
      border-radius: 0px;
    }
    .btn-sm-font{
      // font-size: 5px;
    }
  }
  @media (max-width: 480px) {
    margin-top:0px;
    margin-bottom:0px;

    .btn {
      width:100%;
    }
  }
}
.navbar-default{
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(56, 251, 18, 0);
  .navbar-brand{
    color: $main-color;
  }

  .navbar-toggle:focus{
    background-color: rgba(108, 91, 111, 0.5);
  }
  .navbar-toggle{
    .icon-bar{
      background-color: $main-color;
    }
  }
  .navbar-collapse{
    border-color: rgba(149, 224, 127, 0);
  }
  .navbar-nav{
    li{
      .logged-in-dropdown{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      a:hover{
        color: $main-color;
      }
      a{

        .navbar_icon{
          border-radius: 50px;
          border: 2px solid white;
        }
        color: $main-color;
      }
    }
// nav bar dropdown menu
    .open{
      a:focus{
        color: $main-color;
      }
      .dropdown-menu li a {
        color: $main-color;
      }
    }
  }
}
