<% @errors.full_messages.each do |error| %>
  <div class="alert alert-warning alert-dismissible fade in navbar-buffer" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong><%= error %></strong>
  </div>
<% end %>
